# Punktausgabe (Version 1.00)
Das folgende Skript konvertiert eine Punktdatei im CSV-Format in eine XML-Datei.

In [17]:
import pandas as pd
import xml.etree.cElementTree as ET

In [18]:
punkte = pd.read_csv("punkte.csv")
punkte

   id  breite   laenge   stadt
0   1  7.2183  51.4754  Bochum
1   2  7.0109  51.4572   Essen

In [19]:
points = ET.Element("points")
for i in range(len(punkte)):
    exec(f"point_{i}=ET.SubElement(points,'point')")
    exec(f"ET.SubElement(point_{i},'x').text = str(punkte.loc[i,'breite'])")
    exec(f"ET.SubElement(point_{i},'y').text = str(punkte.loc[i,'laenge'])")
    exec(f"ET.SubElement(point_{i},'city').text = str(punkte.loc[i,'stadt'])")
xml = ET.ElementTree(points)
xml.write("punkte.xml")