# Punktausgabe (Version 1.00)
Das folgende Skript konvertiert eine Punktdatei im CSV-Format in eine XML-Datei.

In [27]:
import pandas as pd
import xml.etree.cElementTree as ET

In [28]:
punkte = pd.read_csv("punkte.csv")
punkte

   id  breite   laenge   stadt
0   1  7.2183  51.4754  Bochum
1   2  7.0109  51.4572   Essen

In [29]:
point = ET.Element("point")
ET.SubElement(point, "x").text = str(punkte.loc[0, "breite"])
ET.SubElement(point, "y").text = str(punkte.loc[0, "laenge"])
ET.SubElement(point, "city").text = str(punkte.loc[0, "stadt"])
xml = ET.ElementTree(point)
xml.write("punkte.xml")